@import 'variables.scss';

.section-difference {
  margin-block: 0;
  .container {
    background-color: hsl(0, 0%, 98%);
  }
  
  .differnce-heading {
    margin: 0;
    color : hsl(228, 39%, 23%);
    font-size: 30px;
    font-weight: 900;
    font-style: normal;
    line-height: 55px; 
  }
  
  .differnce-header {
    text-align: center;
  }
  
  .difference-subheader {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    .differnce-subheading {
      background-color: hsl(13, 100%, 96%);
      width: 100%;
      padding: 1rem 0 1rem 2.5rem;
      transform: translateX(-20px);
      position: initial;
      z-index: 3;
    }
  }
}

@media (min-width : $min-width) {
  .section-difference {
    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    
    .differnce-header {
      max-width: 60%;
      text-align: start;
      
      .differnce-subheading {
        background-color: none;
      }
    }
  }
}