@import 'variables.scss';


.section-difference {
  margin-block: 0;
  .container {
    background-color: hsl(0, 0%, 98%);
  }
  
  .item {
    margin: 3rem 0;
  }
  
  .difference-heading {
    margin: 0;
    color : hsl(228, 39%, 23%);
    font-size: 30px;
    font-weight: 900;
    font-style: normal;
    line-height: 55px; 
  }
  
  .difference-header {
    text-align: center;
  }
  
  .difference-subheader {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    position: relative;
    align-items: baseline;
    margin: 1 0;
    
    .difference-subheading {
      background-color: hsl(13, 100%, 96%);
      position: absolute;
      left: 11%;
      bottom: -65%;
      width: 85%;
      padding: 8px 0 16px 40px;
      transform: translateX(-20px);
      z-index: 3;
    }
  }
}

@media (min-width : $min-width) {
  .section-difference {
    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      background: none;
    }
    
    .difference-header {
      max-width: 60%;
      text-align: start;
      position: initial;
    }
    
    .difference-subheader > .difference-subheading {
      background: none;
      position: initial;
      width: 100%;
    }
  }
}