.section-difference {
  .container {
    background-color: hsl(0, 0%, 98%);
  }
  
  .section-difference-heading {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    h4 {
      background-color: hsl(13, 100%, 96%);
      width: 100%;
      padding: 1rem 0 1rem 2.5rem;
      transform: translateX(-20px);
      position: initial;
      z-index: 3;
    }
  }
}