@import 'variables.scss';

.footer {
  background-color: $very-dark-blue;
  padding: 4rem 2rem;
}

.footer, .anchor {
  color : hsl(0, 0%, 98%);
}

.footer-logo {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.items-container {
  padding: 0;
}

.text-container {
  display: grid;
  //grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 1.3rem;
}

.item {
  list-style: none;
}

.icons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}

.anchor {
  text-decoration: none;
  font-size: 22px;
  line-height: 44px;
  text-transform: capitalize;
  padding-block: 1rem;
  transition: .3s;
  span {
    visibility: collapse;
  }
}

.anchor:hover {
  color: $bright-red;
}

.icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.facebook {
  background-image: url('../images/icon-facebook.svg');
}
.facebook:hover {
  background-image: url('../images/icon-facebook-hover.svg');
}

.pinterest {
  background-image: url('../images/icon-pinterest.svg');
}
.pinterest:hover {
  background-image: url('../images/icon-pinterest-hover.svg');
}

.youtube {
  background-image: url('../images/icon-youtube.svg');
}
.youtube:hover {
  background-image: url('../images/icon-youtube-hover.svg');
}

.twitter {
  background-image: url('../images/icon-twitter.svg');
}
.twitter:hover {
  background-image: url('../images/icon-twitter-hover.svg');
}
.instagram {
  background-image: url('../images/icon-instagram.svg');
}
.instagram:hover {
  background-image: url('../images/icon-instagram-hover.svg');
}

.button-container {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.bg-white {
  background-color: hsl(0, 0%, 98%);
  color: hsl(227, 12%, 61%);
  border-radius: 25px; 
  padding-inline-start: 1rem;
  padding-inline-end: 2.5rem;
  padding-block: .7rem;
}

.bg-white:focus {
  border: 2px solid $bright-red;
  box-shadow: 2px 2px 5px $bright-red;
  color: $bright-red;
}

.copy-right {
  display: none;
}

@media (min-width : $min-width) {
  .copy-right {
    display: block;
  }
  .footer {
    .container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: flex-start;
      gap: 2rem;
    }
  }
  
  .icons-container {
    max-width: max-content;
    gap: 1.3rem;
    margin: 0;
  }
  .footer-logo-icons {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  
  .footer-logo {
    padding-top : 2rem;
  }
}