@import 'variables.scss';

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: none;
}

[type="checkbox"] {
  visibility: hidden;
}

[type="checkbox"]:checked ~ .navigation {
  position: absolute;
  display: block;
  top: 10%;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  
  .navigation-lists {
    background-color: #fefefefe;
    list-style: none;
    padding: 3rem 1rem;
    text-align: center;
    a {
      text-decoration: none;
      color: $dark-blue;
      font-weight: 900;
      font-size: 21px;
      display: inline-block;
      line-height: 52px;
    }
  }
}

label {
  background-image: url('../images/menu.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  span {
    visibility: hidden;
  }
}

[type="checkbox"]:checked ~ label {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url('../images/icon-close.svg');
  background-position: 90% 2rem;
  background-repeat: no-repeat;
  background-size: 2rem 2rem;
  cursor: pointer;
}

.head-button {
  display: none;
}

@media (min-width : 700px) {
  .navigation {
    display: block;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style: none;
      gap: 3rem;
      a {
        text-decoration: none;
      }
    }
  }
  
  .head-button {
    display: block;
  }
  
  label {
    display: none;
  }
}