@import 'variables.scss';

.header, .header-container {
  background-repeat: no-repeat;
  background-size: contain;
}

.header {
  background-color: hsl(0, 0%, 98%);
  background-image: url('../images/bg-tablet-pattern.svg');
  background-position: 3rem -5rem;
}

.header-container {
  background-image : url('../images/illustration-intro.svg');
  padding-bottom: 100%;
  background-position: center 6rem;
}

@media (min-width : $min-width) {
  .header {
    //background: none;
    background-image: url('../images/bg-tablet-pattern.svg');
  }
  .header-container {
    background: none;
    padding-bottom: 0;
  }
}