@import 'variables.scss';

.header-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

[type="checkbox"] {
  visibility: hidden;
}

[type="checkbox"] ~ .navigation {
  transform: translateX(-555%);
  transition: .5s;
  order: 2;
}

[type="checkbox"]:checked ~ .navigation {
  position: absolute;
  display: block;
  top: 10%;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  
  .navigation-lists {
    background-color: #fefefefe;
    list-style: none;
    padding: 3rem 1rem;
    text-align: center;
  }
}

.navigation-item {
  text-decoration: none;
  color: $dark-blue;
  font-weight: bold;
  font-size: 21px;
  display: inline-block;
  line-height: 52px;
  transition: .3s;
}

.navigation-item:hover {
  color: $dark-grayish-blue;
}

label {
  background-image: url('../images/menu.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  order: 3;
  span {
    visibility: hidden;
  }
}

[type="checkbox"]:checked ~ label {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url('../images/icon-close.svg');
  background-position: 90% 2rem;
  background-repeat: no-repeat;
  background-size: 2rem 2rem;
  transition: .5s;
  cursor: pointer;
}

.head-button {
  display: none;
}

@media (min-width : 700px) {
  [type="checkbox"] ~ .navigation {
    transform: none;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style: none;
      gap: 3rem;
      a {
        text-decoration: none;
      }
    }
  }
  
  .head-button {
    display: block;
    order: 3;
  }
  
  label {
    display: none;
  }
}