@import 'variables.scss';

.masthead {
  background-color: hsl(0, 0%, 98%);
  margin: 0;
  padding: 4rem 0 6rem 0;
}

.masthead-container {
  max-width: 450px;
  margin: auto;
  text-align: center;
}

.masthead-heading {
  font-size: 43px;
  line-height: 55px;
  font-weight: 900;
  color: $dark-blue;
}

.masthead-paragraph {
  color: hsl(227, 12%, 61%);
  font-size: 17px;
  font-weight: normal;
  line-height: 1;
  padding-block: 2rem;
}

@media (min-width : $min-width) {
  .masthead-container {
    text-align: start;
    margin: 0;
  }
  
  .masthead {
    background: none;
    .container {
      background-image: url('../images/illustration-intro.svg'), url('../images/bg-tablet-pattern.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right;
    }
  }
}