//Bright Red: hsl(12, 88%, 59%)
//Dark Blue: hsl(228, 39%, 23%)
//Dark Grayish Blue: hsl(227, 12%, 61%)
//Very Dark Blue: hsl(233, 12%, 13%)
//Very Pale Red: hsl(13, 100%, 96%)
//Vary Light Gray: hsl(0, 0%, 98%)


.simplify {
  text-align : center;
  background-color : hsl(12, 88%, 59%);
}

.simplify-container {
  text-align : center;
  background-image : url('../images/bg-simplify-section-mobile.svg');
  background-repeat : no-repeat;
  padding: 4rem 0;
}

.simplify-heading {
  color : hsl(0, 0%, 98%);
  font-size : 60px;
  font-weight : 700;
  line-height : 75px;
  max-width: 500px;
  margin: auto;
  padding: 3rem 0;
}

.btn.simplify-button {
  background-color: hsl(0, 0%, 98%);
  color: hsl(12, 88%, 59%);
}