@import 'variables.scss';

.simplify {
  text-align : center;
  background-color : $bright-red;
}

.simplify-container {
  text-align : center;
  background-image : url('../images/bg-simplify-section-mobile.svg');
  background-repeat : no-repeat;
  padding: 4rem 0;
}

.simplify-heading {
  color : $vary-light-gray;
  font-size : 60px;
  font-weight : 700;
  line-height : 75px;
  max-width: 500px;
  margin: auto;
  padding: 3rem 0;
}

.btn.simplify-button {
  background-color: $vary-light-gray;
  color: $bright-red;
}

@media (min-width : $min-width) {
  .simplify-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
  }
  .simplify-heading {
    max-width: 700px;
    text-align: start;
    padding-block : 0;
  }
}

