.simplify {
  text-align : center;
  background-color : hsl(12, 88%, 59%);
}

.simplify-container {
  text-align : center;
  background-image : url('../images/bg-simplify-section-mobile.svg');
  background-repeat : no-repeat;
  padding: 4rem 0;
}

.simplify-heading {
  color : hsl(0, 0%, 98%);
  font-size : 60px;
  font-weight : 700;
  line-height : 75px;
  max-width: 500px;
  margin: auto;
  padding: 3rem 0;
}

.btn.simplify-button {
  background-color: hsl(0, 0%, 98%);
  color: hsl(12, 88%, 59%);
}