@import 'variables.scss';

.section-work {
  background-color: $vary-light-gray;
  margin: 0;
  padding-block: 4rem;
}

.work-header {
  margin: 0;
  font-size: 45px;
  line-height: 55px;
  font-weight: 900;
  font-style: normal;
}

.work-heading {
  margin: 0;
  padding-bottom: 5rem;
}

.work-container {
  text-align: center;
}

.work-card {
  position: relative;
  margin: 6rem 0 3rem 0;
  img {
    position: absolute;
    left: 50%;
    top: -5rem;
    transform: translateX(-50%);
  }
}

.work-paragraph {
  width: 90%;
  margin-inline: auto;
  padding: 5rem 1rem 4rem 1rem;
  background-color: hsl(0, 0%, 90%);
  color: $dark-grayish-blue;
  font-size: 16px;
  line-height: 32px;
  font-weight: normal;
  span {
    display: block;
    font-size: 24px;
    font-weight: bold;
    line-height: 44px;
    font-style: normal;
    padding-bottom: 2rem;
  }
}

.slide-buttons-container > button.slide-button {
  background-color: $vary-light-gray;
  border: none;
  box-shadow: none;
  font-size: 30px;
  padding: .3rem;
}

button.slide-button span {
  border-radius: 50%;
  display: block;
  width: 15px;
  height: 15px;
  color: red;
  background-color: red;
}

button.slide-button:focus span {
  //background-color: red;
}


@media (min-width : $min-width) {
  .section-work {
    padding-bottom: 8rem;
  }
  .cards-container {
    display: grid;
    grid-gap:10px;
    overflow: auto; 
    grid-auto-flow: column;
    overflow : hidden;
  }
  
  .work-card {
    min-width: 450px;
  }
}