@import 'variables.scss';

.section-work {
  background-color: $vary-light-gray;
  margin: 0;
  padding-block: 4rem;
}

.work-header {
  margin: 0;
  font-size: 45px;
  line-height: 55px;
  font-weight: 900;
  font-style: normal;
}

.work-heading {
  margin: 0;
  padding-bottom: 5rem;
}

.work-container {
  text-align: center;
}

.work-card {
  position: relative;
  margin-block: 6rem;
  img {
    position: absolute;
    left: 50%;
    top: -5rem;
    transform: translateX(-50%);
  }
}

.work-paragraph {
  width: 90%;
  margin-inline: auto;
  padding-top: 9rem;
  background-color: hsl(0, 0%, 90%);
  color: $dark-grayish-blue;
  font-size: 16px;
  line-height: 32px;
  font-weight: normal;
  span {
    display: block;
    font-size: 24px;
    font-weight: bold;
    line-height: 44px;
    font-style: normal;
  }
}

@media (min-width : $min-width) {
  .cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: row nowrap;
    overflow: hidden;
  }
  
  .work-card:last-of-type {
    display: none;
  }
}